# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Kotlin CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 13
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Archive build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: distributions
        path: |
          build/distributions/*.zip
    - uses: actions/upload-artifact@master
      with:
        name: SmartHomeDataCollector-0.2.x.zip
        path: ./build/distributions/SmartHomeDataCollector-0.2.x.zip
        
  publish:
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v1

        - uses: actions/download-artifact@master
          with:
            name: SmartHomeDataCollector-0.2.x.zip
            path: ./build/distributions/SmartHomeDataCollector-0.2.x.zip

        - name: Upload to Bintray
          uses: bpicode/github-action-upload-bintray@master
          with:
            file: ./build/distributions/SmartHomeDataCollector-0.2.x.zip
            api_user: mikuger
            api_key: ${{ secrets.BINTRAY_API_KEY }} # An API key can be obtained from the user profile page.
            repository_user: mikuger
            repository: SmartHomeDataCollector
            package: example-package
            version: '0.2.5'
            publish: 1
            calculate_metadata: true # Schedule metadata calculation after upload